@font-face {
    font-family: 'OTP';
    src: url('../assets/fonts/Helvetica\ Neue.otf') format('opentype');
    /* Specify the path to your OTF file */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'OTP', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header-wrapper {
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        linear-gradient(to bottom, #2379db, #4D94E6, #35BBDF, #21DADB),
        url('../assets/images/waves.svg'),
        url('../assets/images/Pattern.png');

    /* Background settings */
    background-size: cover, cover, cover;
    /* Ensures all backgrounds cover the area */
    background-attachment: fixed, scroll, scroll;
    /* Fixed for gradient to create the parallax effect */
    background-position: center;
    /* Center all backgrounds */
    background-blend-mode: multiply;
    /* Blend backgrounds together nicely */
}



header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.192);
    transition: all 0.3s ease-in, 0.3s ease-out;
    z-index: 200;
}

.scrolled-header .navbar ul li a {
    color: #35BBDF;
    /* Change the font color to black */
}


.header .logo-white {
    display: none;
}

.scrolled-header .logo-white {
    display: block !important;
}

.scrolled-header .logo-black {
    display: none !important
}


.scrolled-header {
    background-color: white
}

.logo {
    position: absolute;
    left: 50px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
}

.logo img {
    margin-top: 10px;
    margin-top: 10px;
    width: 200px;
    height: 200 px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 50px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}


/* Underline div styling */
.underline {
    height: 3px;
    width: 0;
    background-color: #35BBDF;
    border-radius: 5px;
    transition: width 0.3s ease;
    position: absolute;
    border-radius: 5px;
    bottom: -7px;
    left: 0;
}

.scrolled-header .underline {
    background-color: #2379db !important;
}

/* Hover effect on navbar link and underline */
.navbar ul li a:hover {
    color: #ddd;
}

.navbar ul li:hover .underline {
    width: 100%;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info span {
    margin-right: 20px;
}


.hero {
    background-size: cover, auto;
    background-position: center, center;
    background-repeat: no-repeat;
    height: 100vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    max-width: 70%;
}

.buttons {
    display: flex;
    gap: 15px;
    /* Space between buttons */
}

.btn {
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.get-started {
    background-color: #000000;
    border: 2px solid black;
    color: white;
    transition: all 0.3s ease, background-color 0.3s ease;
}

.get-started:hover {
    border-color: white;
}

.discover-more {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: all 0.3s ease, border-color 0.3s ease;
}

.discover-more:hover {
    color: #000000;
    border-color: #000000;
}

/*******************  ABOUT CONTENT  ***********************/

.about {
    background-image: url("../assets/images/gradient-about.png");
    min-height: 700px;
    /* Set a specific height */
    background-attachment: fixed;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.about-container {
    max-width: 1200px;
    /* Increased width for the container */
    margin: 0 auto;
    /* Center the container */
}


.about h2 {
    font-size: 24px;
    color: #0d47a1;
    margin: 30px 0 10px;
}

.about-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    opacity: 0;
    transform: scale(0.9);
}

.about-container {
    display: flex;
    /* Flex layout for alignment */
    flex-direction: column;
    /* Stack rows vertically */
    align-items: center;
    /* Center cards and headings */
}

.about-card-icon {
    font-size: 40px;
    /* Adjust icon size if needed */
}

.about-card p {
    font-size: 18px;
    line-height: 1.6;
    color: #455a64;
    margin-bottom: 20px;
    text-align: center;
    /* Center text in cards */
}



/******************************************************/

/* Main Section Styling */
.expertise {
    overflow: hidden;
    background: linear-gradient(to bottom, #4D94E6, #35BBDF, #21DADB);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

/* Title Styling */
.title {
    text-align: center;
    color: black;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Expertise Container Styling */
.expertise-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}

/* Card Styling */
.expertise-item {
    background-color: #ffffff;
    padding: 20px;
    flex: 1 1 calc(25% - 20px);
    /* Four cards per row */
    min-width: 250px;
    /* Ensures cards don’t shrink too small */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.expertise-item:hover {
    transform: scale(1.05);
}

/* Card Title and Description Styling */
.expertise-title {
    font-size: 1.2em;
    color: #35BBDF;
    margin: 0;
    margin-bottom: 10px;
}

.expertise-description {
    font-size: 0.9em;
    color: #555;
    line-height: 1.4;
    margin-top: 10px;
}

/* Responsive Styling */
@media (max-width: 992px) {
    .expertise-item {
        flex: 1 1 calc(50% - 20px);
        /* Two items per row on medium screens */
    }

    .navbar ul li {
        margin: 0;
    }

    .logo {
        display: none;
    }

    .methodology-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .why-us-content {
        gap: 50px;
    }

    .contact-form {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .expertise-item {
        flex: 1 1 calc(100% - 20px);
        /* One item per row on smaller screens */
    }

    .navbar ul li {
        margin: 0;
    }

    .logo {
        display: none;
    }

    .navbar {
        margin-right: 50px !important;
    }


    .navbar ul {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .methodology-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .why-us-content {
        gap: 50px;
    }

    .contact-form {
        width: 90%;
    }
}



/* Responsive Adjustment */


/**********************************************************/
.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-image: url("../assets/images/gradient-about.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 20px;
    text-align: center;
    color: #ffffff;
}

.why-us-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
}

.reason {
    flex: 1 1 200px;
    padding: 20px;
    background: linear-gradient(135deg, #21DADB 0%, #35BBDF 50%, #4D94E6 100%);
    border-radius: 15px;
    transition: transform 0.3s ease;
    position: relative;
}

.reason:hover {
    transform: scale(1.05);
}


.icon-wrapper {
    position: absolute;
    width: 90%;
    top: -40px;
    display: flex;
    justify-content: center;
}

.icon {
    opacity: 0.9;
    font-size: 2.5em;
    background-color: #4D94E6;
    padding: 10px;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1.5em;
    z-index: 1;
}

p {
    color: #ffffff;
    line-height: 1.4;
    z-index: 1;
}


/******************************************/

.what-we-deliver {
    background-image: url("../assets/images/final-polygon-bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px;
}

.what-we-deliver h3 {
    justify-content: center;
    align-items: center;
}

.delivery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.delivery-item {
    position: relative;
    width: 200px;
    height: 200px;
    color: #fff;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/circle1.png');
}

.delivery-item.item {
    background-image: url('../assets/images/image1.jpg');
}



/********* METHODOLOGY SECTION ***********/
.methodology-section {
    padding: 40px;
    background-image: url("../assets/images/gradient-about.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.methodology-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 200px;
    perspective: 1000px;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.6s;
    /* Animation duration */
}

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: #35BBDF;
    /* Back card color */
    color: #fff;
    /* Text color */
    transform: rotateY(180deg);
    /* Start rotated */
}

.card:hover .card-front {
    transform: rotateY(180deg);
    /* Flip the front */
}

.card:hover .card-back {
    transform: rotateY(0deg);
    /* Show the back */
}

.methodology-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #007bff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


/******************************************************/

/* Contact Us Section Styling */
.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    background-image: url("../assets/images/final-polygon-bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

/* Form Styling */
.contact-form {
    width: 30%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fafafade;
    color: #333;
    outline: none;
    resize: none !important;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #35BBDF;
}


/* Button Styling */
.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #21DADB, #4D94E6);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.submit-btn:hover {
    background: linear-gradient(135deg, #4D94E6, #21DADB);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .contact-us {
        padding: 20px;
    }

    .contact-form {
        padding: 20px;
    }

    .about-cards-row {
        display: flex;
        justify-content: center;
    }

    .methodology-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .title {
        font-size: 35px;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .why-us-content {
        gap: 50px;
    }

    .contact-form {
        width: 90%;
    }
}

/***************************/
.footer {
    background-color: white;
    /* Dark background for footer */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    color: #2379db;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #2379db;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #007bff;
    /* Change link color on hover */
}